footer {
    background-color: #222;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }

  footer a {
    color: #00a326;
    text-decoration: none;
    margin: 0 10px;
  }

  footer a:hover {
    text-decoration: underline;
  }